.transparent-x {
  position: absolute;
  font-size: 10vw; /* Scales with viewport width */
  color: rgba(255, 0, 0, 0.1); /* Light transparent red */
  top: 2%;
  left: 2%;
  z-index: 1;
}

.transparent-o {
  position: absolute;
  font-size: 10vw; /* Scales with viewport width */
  color: rgba(0, 0, 255, 0.1); /* Light transparent blue */
  top: 2%;
  left: 2%;
  /* z-index: 1; */
}

.avatar {
  width: 5vw; /* Scales with viewport width */
  height: 5vw; /* Maintains aspect ratio */
  border-radius: 50%;
}
